body{
    padding: 25px;
  }
  
     #page-header{
      background-image: url("https://img.freepik.com/free-photo/bright-image-lovers-posing-yellow-wall-fashionable-look-romantic-mood-holding-hands-young-woman-with-candid-smile-flirting-with-her-boyfriend-luxury-bag_273443-843.jpg");
      width: 100%;
      height: 35vh;
      background-size: cover;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      padding: 14px;
    }
    #page-header h2,
    #page-header p{
      color: #fff;
    }
    
    #pagination{
      text-align: center;
    }
    #pagination a{
      text-decoration: none;
      background-color: #d5c790;
      padding: 15px 20px;
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
    }
    #pagination a i {
      font-size: 16px;
      font-weight: 600;
    }
    #product1 {
      text-align: center;
    }
    
    #product1 .pro-container{
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      flex-wrap: wrap;
    }
  
    #product1 .pro{
      width: 23%;
      min-width: 150px;
      padding: 10px 12px;
      border: 1px solid #d5c790;
      border-radius: 25px;
      cursor: pointer;
      box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
      margin: 15px 0;
      transition: 0.2s ease;
      position: relative;
    }
    #product1 .pro:hover{
        box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    }
    #product1 .pro .des{
      text-align: start;
      padding: 10px 0;
    }
    #product1 .pro .des span{
      color: #606063;
      font-size: 12px;
    }
    #product1 .pro .des h5{
      padding-top: 7px;
      color: #1a1a1a;
      font-size: 14px;
    }
    #product1 .pro .des i {
      font-size: 12px;
      color: rgb(243,181,25);
    }
    #product1 .pro .des h4{
      padding-top: 7px;
      font-size: 15px;
      font-weight: 700;
      color: #088178;
    }
    #product1 .pro .cart{
      width: 40px;
      height: 60px;
      line-height: 40px;
      border-radius: 50px;
      background-color: #e8f6ea;
      font-weight: 500;
      color: #088178;
      border: 1px solid #cce7d0;
      position: absolute;
      bottom: 20px;
      right: 10px;
    }
    #product1 .pro img{
      width: 100%;
      border-radius: 20px;
    }
    
    #prodetails {
      display: flex;
      margin-top: 20px;
    }
    #prodetails .single-pro-image {
      width: 40%;
      margin-right: 50px;
    }
   #prodetails .single-pro-details{
     width: 50%;
     padding-top: 30px;
   }
   #prodetails .single-pro-details h4{
     padding: 40px 0 20px 0;
   }
   #prodetails .single-pro-details h2{
     font-size: 26px;
   }
   #prodetails .single-pro-details select{
     display: block;
     padding: 5px 10px;
     margin-bottom: 10px;
   }
   #prodetails .single-pro-details input{
     width: 50px;
     height: 4px;
     padding-left: 10px;
     font-size: 16px;
     margin-right: 10px;
   }
   #prodetails .single-pro-details input:focus{
     outline: none;
   }
   #prodetails .single-pro-details button{
     background: #088178;
     color: #fff;
   }
   #prodetails .single-pro-details span{
     line-height: 25px;
   }
  .title {
      color: #5C6AC4;
  }